PORT=3000

DEV_DB_USER=user
DEV_DB_PASSWORD=pass
DEV_DB_HOST=localhost
DEV_DB_PORT=5432
DEV_DB_NAME=db

ACCESS_TOKEN_SECRET=123
REFRESH_TOKEN_SECRET=123

SUPER_ADMIN_EMAIL=123@email.com
SUPER_ADMIN_PASSWORD=123